@model string_split.Models.Entities
<h1>New View</h1>
    <div class="text-center">
        <div>
            @Html.TextBoxFor(m=>m.dataOne,new{id="One"})
        </div>
        <br />
        <div>
            @Html.TextBoxFor(m=>m.dataTwo,new{id="Two"})
        </div>
        <br />
        <div>
            @Html.TextBoxFor(m=>m.dataThree,new{id="Three"})
        </div>
    </div>
